*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/.name
/.idea/AndroidProjectSystem.xml
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/studiobot.xml
/.idea/vcs.xml
/.kotlin/errors/errors-1761771253465.log
/.kotlin/errors/errors-1761776076979.log
/.kotlin/errors/errors-1761855778382.log
/.kotlin/errors/errors-1761901694085.log
/.kotlin/errors/errors-1761902812683.log
